__pycache__/
*.pyc

generated_projects/
backend/llm_cache/
backend/failure_memory/dataset/
backend/*.db
backend/app.db
frontend/dist/
frontend/node_modules/

architect_response.txt
backend_response.txt
frontend_response.txt
backend_failed_response.txt
architect_failed_response.txt
frontend_failed_response.txt

venv/
.env
.aider*
