@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #090912;
  font-family: "Inter", sans-serif;
  color: white;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #2a2a3d; border-radius: 3px; }